:root{
    --cor-fundo:#01080E;
    --cor-sencundaria:#212333;
    --cor-destaque:#f72206;
    --cor-texto:#D7F9FF;
}

body{
   
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("F1.avif") center/cover no-repeat fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.caixa-principal{
    width: 90%;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}
h1{
    color: var(--cor-texto);
}
button{
    background-color: var(--cor-sencundaria);
    color:var(--cor-texto) ;
    border:none ;
    border-radius:15px;
    padding:15px;
    font-size: 15px;
    transition: background-color 0.3s;

}
button:hover{
    background-color: var(--cor-destaque);
}